/* ==========================================================================
   About-intro block styles
   ========================================================================== */


.about-intro
		padding-x(10px)
		+tablet()
			stack(1)
		+desktop()
			col(2/3)
		+hd()
			col(5/7)

		&__heading
			font-size 1.375rem
			font-weight 700

		&__text
			margin-y(10px)
			font-size 1.125rem
			line-height 1.75rem
