mixin about()
	+b.SECTION.about&attributes(attributes)
		block about
		+e.title
			+e.H3.title-heading= aboutTitleHeading
		+e.article-wrapper
			+b.ARTICLE.about-article
				+b.about-article-intro
					+e.H4.heading= aboutIntroHeading
					block about-intro
				+b.ASIDE.about-article-skills
					+e.H4.heading= aboutSkillsHeading
					block about-skills

