mixin navigation()
	+b.navigation._top&attributes(attributes)
		+e.NAV.bar
			- var navItemList = ['Главная', 'Мои работы','Контакты']
			+e.UL.list
				each navItem in navItemList
					+e.LI.item: +e.A.link(href="#")= navItem
