/* ==========================================================================
   Profile block styles
   ========================================================================== */


.profile
	display block
	clearfix()
	font-family 'Exo 2'
	font-weight 400
	line-height 3rem
	text-align center
	color white

	&__avatar
		margin-top 60px
		center()
		overflow hidden
		max-width 150px
		max-height 150px
		border-radius 50%

	&__name
		margin-top 25px
		font-size 1.875rem

	&__specialty
		font-size 1.125rem
		+below(768px)
			font-size .8125rem
