mixin profile()
	+b.profile&attributes(attributes)
		+e.avatar
			img(src="/assets/img/avatar.jpg", alt="Lavryk Alexander" width="100%" height="100%")
		+e.H1.name: | Александр Лаврик
		+e.H2.specialty: | HTML-верстальщик &nbsp; &frasl; &nbsp; Front-end Разработчик
