extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Александр Лаврик - Front-end разработчик'

block about
	- var aboutTitle = 'Обо мне'

block about-intro
	+e.P.text: | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis esse asperiores, fugit distinctio assumenda blanditiis numquam eveniet in, ratione pariatur, quibusdam dolores praesentium, tempora debitis doloremque voluptatibus cumque illum?
	+e.P.text: | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nesciunt quaerat voluptas accusantium, rem placeat?
	+e.P.text: | &nbsp;
block about-skills
	+button({
		'href': 'http://front-end-my-name.ru/CV.pdf',
		'text': 'Скачать Резюме'	
	})._download
