.content-section
	padding-y(60px)
	display block
	font-family 'PT Sans'
	color main-text-color
	background #f4eded

	&__article-wrapper
		+mobile()
			center(90%)
		+tablet()
			center(85%)
		+desktop()
			center(70%)
		+hd()
			center(60%)
