include ../about-intro/about-intro
include ../about-skills/about-skills

mixin about-article()
	+b.ARTICLE.about-article&attributes(attributes)
		+about-intro
		+about-skills(['HTML (Jade)', 'CSS (Stylus, SASS)', 'БЭМ, БЭМ-именование', 'Twitter Bootstrap', 'JQuery', 'Git', 'Gulp'])
