mixin social-icons()
	+b.social-icons&attributes(attributes)
		+e.UL.list
			+e.LI.item: +e.A(href="#").link.icon-facebook
			+e.LI.item: +e.A(href="#").link.icon-linkedin
			+e.LI.item: +e.A(href="#").link.icon-google-plus
			+e.LI.item: +e.A(href="#").link.icon-github
