.social-icons
	display block
	text-align center



.social-icons_top
	margin-top 10px
	& .social-icons
		&__list
			line-height 4rem
			&-item
				margin-x(5px)
				display inline-block
		&__link
			padding-x(5px)
			padding-y(5px)
			font-size 1.25rem
			text-decoration none
			color #fff
			transition .4s
			&:hover
				padding-x(3px)
				font-size 1.5rem
			&.icon-facebook
				&:hover
					color #3b5998
			&.icon-linkedin
				&:hover
					color #00a0dc
			&.icon-google-plus
				&:hover
					color #dc4e41
			&.icon-github
				&:hover
					color #333
