/* ==========================================================================
   Section title styles
   ========================================================================== */


.section-title
	margin-bottom 60px
	font-size 3rem
	font-weight 700
	text-align center
